@{
    ViewBag.Title = "Home";
}

<div class="mainSec">

<div class="jumbotron">
    <h1>What's In YOUR Closet?</h1>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <p>Does your closet look like this? . . .  We have a solution!</p>
            <p class="movedown"> <span class="italic">What's In Your Closet </span>can help you keep track of your clothing.</p>
            <p> Just enter the contents of your closet from the menu above and then view each item individually or create outfits with them!</p>
        </div>
        <div class="col-md-4 col-sm-12>">
            <img src="~/Content/messycloset.jpg" alt="Picture of messy closet" />
        </div>
    </div>
</div>

</div>