@model IEnumerable<WardrobeMVC.Models.Sho>

@{
    ViewBag.Title = "Shoes";
}

<div class="page">

    @* header *@
    <div class="row container-fluid header">
        <div class="col-md-2 col-sm-6 col-xs-12">
            <img src="~/Content/closet.jpg" alt="Closet Image" />
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2>INVENTORY:  <span class="subheader">Shoes</span></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="button"><a href="~/Shoes/Create">Add New Shoes</a></button>
            @*<button class="button"><a href="~/Shoes/Index">Show All Shoes</a></button>*@
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <div class="caption text-center">
                        <h5>@Html.DisplayFor(model => item.Name)</h5>
                        <img src=@Url.Content(item.Photo) class="img-thumbnail img-responsive" alt="Picture of Shoes">
                        <p>@Html.ActionLink("View Details", "Details", new { id = item.ShoeID }, new { role = "button", @class = "btn" })</p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<p class="bottomlinks">
    @Html.ActionLink("Back to Top", "Index") |
    @Html.ActionLink("View Detailed List of All Shoes", "List", "Shoes")
</p>